/* anouncement box */

.announcementsbox {
	border-style:ridge;
	display: flex;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 50px;
	box-shadow: 0px 10px 50px 5px #88888854;
	animation: fadeInFromTop 1.2s ease-out;
	max-height: 100vh;
	overflow-y: auto;
}

.announcementsbox>.highlight {
	margin: 40px;
	width: 110%;
	overflow-wrap:break-word;
}

.announcementsbox>.highlight>figure>img {
	width: 100%;
	border: 1px solid #ddd;
 	border-radius: 4px;
	padding: 5px;
}

.announcementsbox>.highlight>header>h2 {
	font-size: xx-large;
	letter-spacing: 0.1rem;
}

.announcementsbox>.highlight>article {
	font-size: 13pt;
}

.announcementsbox>aside {
	border-style:groove; /* TEMPORARY REMOVE LATER */
	box-shadow: inset 0px 3px 15px 2px #88888854;
	overflow-y: auto;
}

.announcementsbox>aside header {
	text-align: center;
	margin-top: 8px;
}

.announcementsbox>aside figure {
	text-align: center;
	font-weight: bolder;
}

.announcementsbox>aside figure>img {
	object-fit: cover;
	height: 225px;
	width: 100%;
}

.announcementsbox>aside article {
	margin: 10px;
	font-weight: bold;
	overflow-y: auto;
	line-height: 1.7;
}



/* article list */
.articleslist {
	border-style: dashed; /* TEMPORARY DELETE LATER */
	text-align: center;
	justify-content: center; 
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.articleslist>.articleitem {
	border-style: dashed; /* TEMPORARY DELETE LATER */
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80vw;
	height: 230px;
}

.articleitem>img {
	width: 255px;
	height: 160px;
	border: 1px solid #ddd;
 	border-radius: 4px;
	padding: 5px;
}


.articleitem>article {
	text-align: left;
	margin: 30px;
}