/* anouncement box */

.announcementsbox {
	box-shadow: 0px 10px 50px 5px #88888854;
	display: flex;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 50px;
	animation: fadeInFromTop 1.2s ease-out;
	max-height: 100vh;
	overflow-y: auto;
}

.announcementsbox>.highlight {
	margin: 40px;
	width: 110%;
	overflow-wrap:break-word;
}

.announcementsbox>.highlight>figure>img {
	width: 100%;
	border: 1px solid #ddd;
 	border-radius: 4px;
	padding: 5px;
}

.announcementsbox>.highlight>header>h2 {
	font-size: xx-large;
	letter-spacing: 0.1rem;
}

.announcementsbox>.highlight>article {
	font-size: 13pt;
}

.announcementsbox>aside {
	box-shadow: inset 0px 3px 15px 2px #88888854;
	overflow-y: auto;
}

.announcementsbox>aside header {
	text-align: center;
	margin-top: 8px;
}

.announcementsbox>aside figure {
	text-align: center;
	font-weight: bolder;
}

.announcementsbox>aside figure>img {
	border: 1px solid #ddd;
 	border-radius: 4px;
	padding: 5px;
	object-fit: cover;
	height: 225px;
	width: 100%;
}

.announcementsbox>aside article {
	margin: 10px;
	font-weight: bold;
	overflow-y: auto;
	line-height: 1.7;
}

/* article list */

.articleslist {
	text-align: center;
	justify-content: center; 
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.articleslist>.articleitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 75vw;
	height: 230px;
	overflow-y: auto;
	text-decoration: none;
	color: black;
}

.articleitem>img {
	width: 255px;
	height: 160px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	margin: 30px;
	flex-shrink: 0;
}

.articleitem>article {
	width: 100%;
	text-align: left;
}

.articleitem:hover {
	cursor: pointer;
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: translateY(-8px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.articleitem:hover>article>h4 {
	text-decoration: underline;
}
